header.header
    .header__column
        i.fab.fa-youtube
            a(href="home.pug")
    .header__column
        ul
            li
                a(href="#") Join
            li
                a(href='#') Log In